AUTH_DATABASE_URL="mysql://root:password@host.docker.internal:3306/wspeedrun_auth"
GAME_DATABASE_URL="mysql://root:password@host.docker.internal:3306/wspeedrun_game"
RUN_DATABASE_URL="mysql://root:password@host.docker.internal:3306/wspeedrun_run"
JWT_SECRET="change_me"
GATEWAY_TIMEOUT_MS=15000
