DATABASE_URL="mysql://root:password@localhost:3306/wspeedrun"
JWT_SECRET="change_me"
AUTH_SERVICE_PORT=3000
GAME_SERVICE_PORT=3001
RUN_SERVICE_PORT=3002
API_GATEWAY_PORT=3003
AUTH_SERVICE_URL="http://localhost:3000"
GAME_SERVICE_URL="http://localhost:3001"
RUN_SERVICE_URL="http://localhost:3002"
